<section>
  <h1>Choose your Model and Color</h1>
  <section class="choose" *ngIf="models">
    <form #step1Form="ngForm">
      <label for="model">Model:</label>
      <select
        id="modelSelect"
        name="model"
        [(ngModel)]="modelCode"
        (ngModelChange)="updateModel($event)"
        required
      >
        <option [value]="null" [disabled]="true" [selected]>
          Select an option
        </option>
        <option *ngFor="let model of models" [ngValue]="model.code">
          Model {{ model.code }}
        </option>
      </select>
      <ng-template [ngIf]="colors">
        <label for="color">Color:</label>
        <select
          id="colorSelect"
          name="color"
          [(ngModel)]="colorCode"
          (ngModelChange)="updateColor($event)"
          required
        >
          <option *ngFor="let color of colors" [ngValue]="color.code">
            {{ color.description }}
          </option>
        </select>
      </ng-template>
    </form>
  </section>
</section>
