<section>
  <h1>Step3: Summary</h1>
  <section class="choose" *ngIf="summary$ | async as summary">
    <p>your {{ summary.selectedModel?.description }}</p>
    <p>
      {{ summary.selectedConfiguration?.description }} - Cost:
      {{ summary.selectedConfiguration?.price | currency }}
    </p>
    <p>
      Range: {{ summary.selectedConfiguration?.range }} miles - Max speed:
      {{ summary.selectedConfiguration?.speed }}
    </p>
    <p *ngIf="summary.towHitchCost">
      Two Hitch Package {{ summary.towHitchCost | currency }}
    </p>
    <p *ngIf="summary.yokeCost">
      yoke Package {{ summary.yokeCost | currency }}
    </p>
    <p>Total Cost: {{ summary.totalCost | currency }}</p>
  </section>
</section>
