<section>
  <header>
    <button id="step1" routerLink="/">step1</button>
    <button
      id="step2"
      [routerLink]="['/step2/', modelCode]"
      [disabled]="isStep2Disabled"
    >
      step2
    </button>
    <button id="step3" routerLink="/step3" [disabled]="isStep3Disabled">
      step3
    </button>
  </header>
  <router-outlet></router-outlet>
  <img
    *ngIf="modelCode && colorCode"
    alt="tesla car"
    appTeslaImage
    [teslaModel]="modelCode"
    [teslaColor]="colorCode"
  />
</section>
